decord
swanlab
tensorboard
hydra-core
blobfile
colored==2.2.3
cuda-bindings
debugpy
decord2
hydra-core
math-verify
nccl4py
num2words==0.5.14
nvidia-nvshmem-cu12
nvtx
plotly
nvidia-cudnn-cu12
mlflow==3.5.0
torch==2.9.0
accelerate
codetiming
datasets
liger-kernel
mathruler
numpy
omegaconf
pandas
peft
pillow
pyarrow
pylatexenc
ray[default]==2.49.2
tensordict
torchdata
vllm==0.11.2
wandb
transformers==4.57.1
